# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore other unneeded files
*.rbc
*.sassc
*.swp
*~

# Ignore node_modules if using JavaScript
/node_modules

# Ignore coverage reports
/coverage/
/coverage/*

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore editor-specific files
.idea
.vscode
*.iml

# Ignore byebug command history file.
.byebug_history

# Ignore test results
/test/tmp
/test/version_tmp
/spec/tmp
/spec/fixtures

# Ignore the Gemfile.lock, which specifies the exact versions of gems that were installed.
Gemfile.lock

# Ignore the .env file, which contains environment variables.
.env
